---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import AboutUs from "../components/AboutUs.astro";
import MenuSpecialties from "../components/MenuSpecialties.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="SweetFun - Repostería Creativa & Artesanal"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="og:title" content="SweetFun" />
		<meta
			name="og:description"
			content="SweetFun - Repostería Creativa & Artesanal"
		/>
		<meta name="og:image" content="/favicon.ico" />
		<meta name="og:url" content="https://sweetfun.cr" />
		<meta name="og:type" content="website" />

		<title>SweetFun</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="antialiased text-magazine-text font-sans selection:bg-vibrant-pink selection:text-white"
	>
		<Navigation />
		<main>
			<Hero />
			<AboutUs />
			<MenuSpecialties />
			<Gallery />
		</main>
		<Footer />
	</body>
</html>
